.router-link-active {
    color: #429a8b;
    text-shadow: #01271b 2px 2px 2px;
}

[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;

    /* border: 4px solid palevioletred; */
}

.h__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 10px;
}

.logo {
    cursor: url('../../../assets/cursor/IMG_30p.png') 2 2, pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 33px;
    color: #2f6b58;
    font-family: 'Eater', sans-serif;
}
.and {
    font-family: 'Frijole', sans-serif;
    font-size: 18px;
}

.list-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: rgb(0, 99, 74);
}

.item {
    cursor: url('../../../assets/cursor/IMG_30p.png') 2 2, pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    font-size: 18px;
    font-family: 'Rubik Glitch', sans-serif;
}

.burger_menu {
    display: none;
}

@media (max-width: 650px) {
    .list-items {
        display: none;
    }
    .burger_menu {
        cursor: url('../../../assets/cursor/IMG_30p.png') 2 2, pointer;
        display: block;
        background: rgba(0, 49, 39, 0.165);
        color: rgb(0, 49, 39);
        margin-right: 20px;
    }
    .mat_item {
        cursor: url('../../../assets/cursor/IMG_30p.png') 2 2, pointer;
        color: rgb(0, 49, 39);
        background: #79b29b;
        /* background: #628f7d; */
        padding: 20px 50px;
        border-top: #01271b 1px solid;
        border-bottom: #01271b 1px solid;
    }
    .mat_item:hover {
        background: #32443a;
    }


    .logo {
        font-size: 22px;
    }
    .and {
        font-size: 12px;
    }
} 

