<div class="item_locations">
    <div class="location">
        
        <p class="item_location_name">
            <span class="name">Name: </span>
            {{ location.name }} 
        </p>
        <p class="item_location">
            <span class="name_item">Type: </span>
            {{ location.type }} 
        </p>
        <p class="item_location">
            <span class="name_item">Dimension: </span>
            {{ location.dimension}} 
        </p>
        <p class="item_location">
            <span class="name_item">Created: </span>
            {{ location.created }} 
        </p>
        
        <!-- <p class="item_location">
            <span class="name_item">Id: </span>
            {{ location. id }} 
        </p> -->

    </div>
</div>
