[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;

    /* border: 4px solid palevioletred; */
}
.paginator {
    width: 600px;
    background: #56563e;
    border-radius: 50px 50px 50px 50px;
    color: #54beac;
    text-shadow: #01271b 4px 2px 2px;
    padding: 10px 0px;
    margin: 20px 0px;
    font-weight: 800;
    font-size: 14px;

    cursor: url('../../../assets/cursor/IMG_30p.png') 3 3, pointer;
}


.characters__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.input_character {
    width: 220px;
    height: 40px;
    border: none;
    border-bottom:  4px solid #56563e;
    background: #f8f5d3;
    margin: 30px 0px;
    padding: 5px;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


/* media #################################################### */

@media (max-width: 650px) {
    .box {
        flex-direction: column;
    }
    .paginator {
        width: 90%;
        border-radius: 20px;
    }
}
