<div class="main-home-page">
    <section class="home-page__container">

        <article class="text">
            <h2 class="title">
                Welcome to <p class="logo-name">Rick<span class="and"> and </span>Morty</p> Wiki,
            </h2>

            <div class="info">
                    where you can find information about characters, locations, and episodes. <br>
                    You can search for specific information by the name of a character, location, or episode. <br>
                    Have fun exploring!
            </div>
        </article>

        <article class="home-page_bg">

            <div class="a">
                <div class="img"></div>
            </div>

            <div class="b">
                <div class="img"></div>
            </div>

            <div class="c">
                <div class="img"></div>
            </div>

            <div class="d">
                <div class="img"></div>
            </div>

            <div class="e">
                <div class="img"></div>
            </div>

            <div class="g">
                <div class="img"></div>
            </div>

            <div class="f">
                <div class="img"></div>
            </div>

            <div class="h">
                <div class="img"></div>
            </div>


        </article>

    </section>
</div>