<div class="item_episodes">
    <div class="episode">

        <p class="item_episode_name">
            <span class="name">Name: </span> 
            {{ episode.name }} </p>
        <p class="item_episode">
            <span class="name_item">Air date: </span> 
            {{ episode.air_date }} </p>
        <p class="item_episode">
            <span class="name_item">Episode: </span> 
            {{ episode.episode }} </p>
        <p class="item_episode">
            <span class="name_item">Created: </span> 
            {{ episode.created }} </p>
        
        <!-- <p class="item_episode">Id: {{ episode.id }} </p> -->

    </div>
</div>

