<div class="item_characters">
    <div class="character">

        <img class="item_character_img" src="{{ character.image }}" alt="{{ character.name }}">
        <p class="item_character_name">
            <span class="name">Name:</span>
            {{ character.name }} 
        </p>
        <p class="item_character">
            <span class="name_item">Status:</span>
            {{ character.status }} 
        </p>
        <p class="item_character">
            <span class="name_item">Species: </span>
            {{ character.species }} 
        </p>
        <p class="item_character">
            <span class="name_item">Type: </span>
            {{ character.type }} 
        </p>
        <p class="item_character">
            <span class="name_item">Gender:</span>
            {{ character.gender }} 
        </p>
        <p class="item_character">
            <span class="name_item">Ogigin Name:</span>
            {{ character.origin.name }}
        </p>
        <p class="item_character">
            <span class="name_item">Location Name:</span>
            {{ character.location.name }} 
        </p>
        <p class="item_character">
            <span class="name_item">Created:</span>
            {{ character.created }} 
        </p>
        <!-- <p class="item_character">
            <span class="name_item">Id:</span>
            {{ character.id }} 
        </p> -->


    </div>
</div>